.btns button {
  padding: 8px 14px;
  border: none;
  background-color: blueviolet;
  border-radius: 3px;
  margin: 10px 5px;
  color: white;
}
.btns {
  width: 300px;
  margin: 0 auto;
}
button:focus {
  outline: none;
}
